# Docker config ignoring
docker/.env

# Local tooling folders
.agent/
.shared/
.codex/
.cursor/

# Backend ignoring
backend/vendor/
backend/.env
backend/.env.backup

# Frontend ignoring
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# OS
.DS_Store
